<!-- Main jumbotron for a primary marketing message or call to action -->
<div class="jumbotron">
  <div class="container">
    <h1>欢迎来到Microblog</h1>
    <p>Microblog是一个基于Node.js的微博系统</p>
    <%if(!locals.user){%>
      <p>
        <a class="btn btn-primary btn-lg" href="/login" role="button">登录</a>
        <a class="btn btn-default btn-lg" href="/reg" role="button">立即注册</a>
      </p>
      <%}%>
  </div>
</div>
<!-- Example row of columns -->
<div class="row">
  <div class="col-md-4">
    <h2>张三 说</h2>
    <p>我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，我是张三，</p>
    <p>
      <a class="btn btn-default" href="#" role="button">详情</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>李四 说</h2>
    <p>我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，我是李四，</p>
    <p>
      <a class="btn btn-default" href="#" role="button">详情</a>
    </p>
  </div>
  <div class="col-md-4">
    <h2>王五 说</h2>
    <p>我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，我是王五，</p>
    <p>
      <a class="btn btn-default" href="#" role="button">详情</a>
    </p>
  </div>
</div>