<form class="form-signin" method="post">
    <h2 class="form-signin-heading">请注册</h2>
    <label for="inputEmail" class="sr-only">用户名</label>
    <input type="text" id="username" name="username" class="form-control" placeholder="用户名" required autofocus>
    <label for="inputPassword" class="sr-only">密码</label>
    <input type="password" id="password" name="password" class="form-control" placeholder="密码" required>
    <label for="inputPassword" class="sr-only">确认密码</label>
    <input type="password" id="password_confirm" name="password_confirm" class="form-control" placeholder="请重复输入密码" required>
    <button class="btn btn-lg btn-primary btn-block" type="submit">注册</button>
</form>